<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}

.row {
  display: flex;
  padding: 16px;
  z-index: 5;
}

.column {
  flex: 50%;
}

#drink-image {
    width: 100%;
    height: auto;
    position: relative;
}

div.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 50%;
}

li {
    list-style-type: none;
}
</style>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <img id="drink-image" src="<%= @drink.photo_url %>" alt="<%= @drink.name %>">                    
                <h2><b><%= @drink.name %></b></h2>
                <p>Provided by <%= drink_author %></p>
                <% if user_is_also_author %>
                <a href="/drinks/<%= @drink.slug %>/edit" class="btn btn-warning">Edit <%= @drink.name %></a>
                <form action"/drinks/<%= @drink.slug %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete <%= @drink.name %>?</button>
                </form>
                <% end %>
                <br>
                <p><%= @drink.drink_type %></p>
                <p>Served in a <%= @drink.glass %></p>
                <h4>Recipe:</h4>
                <% @drink_products.each do |dp| %>
                    <% unless dp.product_id == 0 %>
                        <li><%= dp.quantity %> <a href="/products/<%= dp.product.slug %>"><%= dp.product.name %></a></li>
                    <% end %>
                <% end %><br>
                <h4>Instructions:</h4>
                <%= @drink.instructions %>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="sticky">
            <div class="card">
                <div class="container">
                    <% if @makeable == "True" %>
                        <h4>You can make this drink with your current inventory.</h4>
                        <h4>I'll have one too!</h4>
                    <% else %>
                        <h4>In order to make this drink, you still need:</h4>
                        <% @missing_products.each do |mp| %>
                            <li style="font-size: 1.5em"><a href="/products/<%= mp.slug %>"><%= mp.name %></a></li>
                        <% end %>
                        <br>
                        <p>Click on the ingredient link to be taken to that item's page</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
