<style>

button {
  font-size: 17px;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}
</style>

<h2>Make changes to your current collection</h2>

<table>
    <thead>
        <tr>
          <th style="width:130px">Name</th>
          <th style="width:130px">Type</th>
          <th style="width:130px">Category</th>
          <th style="width:130px">More Information</th>
          <th style="width:130px">Delete Product</th>
        </tr>
    </thead>
    <tbody hx-confirm="Are you sure you want to remove this product from your collection?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
      <tr>
        <% @user_products.each do |product| %>
          <td><%= product.name %></td>
          <td><%= product.category %></td>
          <td><%= product.subcategory %></td>
          <td><a href="/products/<%= product.slug %>"><%= product.name %> Information Page</a></td>
          <td><button class="btn btn-danger" hx-delete="/products/<%= product.id %>">Delete <%= product.name %></button>
      </tr>
        <% end %>
    </tbody>
</table>
