<!DOCTYPE html>

<html>


<h2>Make changes to your current collection</h2>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#new_user_product {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.row{
  margin:25px;
}

.well{
  text-align: center;
  font-size:150%;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}
</style>


<table>
    <thead>
        <tr>
        <th style="width:130px">Name</th>
        <th style="width:130px">Type</th>
        <th style="width:130px">Category</th>
        <th style="width:130px">More Information</th>
        <th style="width:130px">Replace Product</th>
        <th style="width:130px">Delete Product</th>
        </tr>
    </thead>
    <tbody hx-confirm="Are you sure you want to remove this product from your collection?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
    <tr>
    <% @user_products.each do |product| %>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.subcategory %></td>
        <td><a href="/products/<%= product.slug %>"><%= product.name %> Information Page</a></td>
        <td><button class="btn btn-danger" hx-delete="/products/<%= product.id %>">Delete <%= product.name %></button>
        </tr>
        <% end %>
        </tbody>
        </table>

<form>
<div id="form1" hx-swap="outerHTML">
    <label>Type</label>
    <select name="subcategory" hx-get="/categories">
        <option>--Please Pick One--</option>  
        <option value="Liquor">Liquor</option>
        <option value="Mixer">Mixer</option>
    </select>
  </div>
  
</form>

</body>
</html>

