<style>
a {
  color: blue;
  text-decoration: none;
}
</style>
<table class="table" id="results">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Link</th>
      <% if @new_button == "true" %>
        <th>Select</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% if @products.present? %>
      <% @products.each do |product| %>
    <td><%= product.name %></td>
    <td><%= product.category %></td>
    <td><%= product.subcategory %></td>
    <td><a href="/products/<%= product.slug %>"><%= product.name %> Info Page</a></td>
      <% if @new_button == "true" %>
        <td><form action="/products" method="POST">
              <input type="hidden" name="origin" value="new">
              <button type="submit" class="btn btn-primary" value="<%= product.id %>" name="id">Add <%= product.name %></button>
            </form></td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>